table {
    width: 50%;
    border-spacing: 0; /* Removes spacing between cells */
    border-radius: 10px; /* Rounded corners */
    margin-top: 50px; /* Lowers the table */
    border: 3px solid red; /* Solid red border on the outside */
} 

tr:hover {background-color: grey;}
th, td {
    border-top: 2px;
    border-bottom: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    
}
tr:hover td {
    background-color: transparent; /* Remove column-specific color during hover */
}

/* Target the first column */
td:nth-child(1), th:nth-child(1) {
    background-color: black;
    color: white;
}

/* Target the second column */
td:nth-child(2), th:nth-child(2) {
    text-align: left;
}

/* Target the third column */
td:nth-child(3), th:nth-child(3) {
    background-color: gold;
}

/* Target the fourth column */
td:nth-child(4), th:nth-child(4) {
    background-color: silver;
}

/* Target the fifth column */
td:nth-child(5), th:nth-child(5) {
    background-color: #cd7f32;
}

/* Target the sixth column */
td:nth-child(6), th:nth-child(6) {
    background-color: green;
    color: black;
}
